# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/visualstudiocode/.vs/visualstudiocode
/visualstudiocode/x64/Debug
/visualstudiocode/visualstudiocode.vcxproj.user
/visualstudiocode/visualstudiocode.vcxproj.filters
/visualstudiocode/visualstudiocode.vcxproj
/visualstudiocode/visualstudiocode.sln
